@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-calendar-picker-indicator,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  background-color: azure;
}

input {
  background-color: transparent;
}
input::-webkit-calendar-picker-indicator {
  display: none;
  background-color: inherit;
  opacity: 0;
  opacity: 0;
}
